@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;

  --color-app-bg: #09090b;
  --color-card-bg: #121215;
  --color-card-hover: #18181b;
  --color-primary-rose: #E2847A;
  --color-accent-crimson: #C75146;
  --color-text-main: #FDF8F8;
  --color-text-muted: #A1A1AA;
  --color-border-subtle: #27272a;
}

:root {
  color-scheme: dark;
}

html,
body {
  background-color: var(--color-app-bg);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-app-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border-subtle);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}